bin/
obj/
TestResults/
*.user
*.suo
*.cache
*.bak
*.ncp
*.log
*.DS_Store
[Tt]humbs.db
_ReSharper*
*.resharper
*.cache
*~
*.swp
*.MDF
*.ldf
*.mdf
*.LDF
~$*
_UpgradeReport*
UpgradeLog*
NDependOut*
[Bb]ackup*